# python data structures
- Integer
- Float
- String
- List
- Tuple
- Dictionary
- Boolean

In [1]:
var=16
type(var)

int

In [2]:
var2=16.3
type(var2)

float

## String :ordered sequence of characters since it supports indexing and slicing

In [3]:
var3="mody university is the greatest university in the world"
type(var3)

str

# Slicing
[starting index:ending index:step size]
starting index: inclusive
ending index: exclusive

In [4]:
#python bydefault use the zero indexing
var3[0:15]

'mody university'

In [6]:
var3.index("y")

3

In [7]:
var3.index("university")
#index only give first apperance

5

In [8]:
var3[0:15:2] #make pairs of 2 letters and print the first one and skip the second one 
# for example: if step size is 3 then it will print the first letter and skip the two

'md nvriy'

In [9]:
var3[::3] #it will go upto the last string bydefault

'mynei  erttnei  eod'

In [10]:
var3.upper()

'MODY UNIVERSITY IS THE GREATEST UNIVERSITY IN THE WORLD'

In [11]:
var3.split() #split uses list

['mody',
 'university',
 'is',
 'the',
 'greatest',
 'university',
 'in',
 'the',
 'world']

# list: ordered sequence of objects,since it supports indexing and slicing
# it can hold different datatypes

In [17]:
# Boolean -True, False
int(True)

1

In [18]:
int(False)

0

In [21]:
list1=[16,"Neha",16.5,True,2,3,34.4,"Yukta"]
list1[1] #indexing

'Neha'

In [22]:
list1[2:] #slicing

[16.5, True, 2, 3, 34.4, 'Yukta']

In [25]:
list2=[["neha",1800000],["Yukta",1200000],["Appu",700000]]
list2[1]

['Yukta', 1200000]

In [35]:
list2[1][1]

1200000

# list comprehension

In [69]:
list3=[1,2,3,4,5,6]
[i**2 for i in list3]

[1, 4, 9, 16, 25, 36]

In [70]:
list3.append("Neha")
list3

[1, 2, 3, 4, 5, 6, 'Neha']

In [71]:
list3.pop()
list3   #bydefault last index

[1, 2, 3, 4, 5, 6]

In [72]:
list3.insert(1,"yukta")
list3  #insert(index ,value)

[1, 'yukta', 2, 3, 4, 5, 6]

In [73]:
list3.pop(1)
list3

[1, 2, 3, 4, 5, 6]

In [74]:
del(list3[4])

In [75]:
list3

[1, 2, 3, 4, 6]

In [76]:
for i in list3:
    print(i)

1
2
3
4
6

In [77]:
for i in list3[:3]:
    print(i)

1
2
3

In [94]:
list4=[]
d= "mody university"
for i in d:
    list4.append(i)

In [95]:
list4

['m', 'o', 'd', 'y', ' ', 'u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y']

# tuple: ordered sequence of objects, since it provides indexing and slicing 
# it is immutable in nature i.e we can't change it.
### to define the tuple we use paranthesis
### it have two methods count and index

In [65]:
tup1=(3,4,5,5)
tup1

(3, 4, 5, 5)

In [66]:
tup1.count(5)

2

In [67]:
tup1.index(5)

2

# dictionary: unordered sequence of object, since it doesn't supports indexing and slicing and it stores objects in the form of key value pair
### it is defined with the help of curly braces
### {"key2":value1,"key2":value2}

In [1]:
dic1={"neha":2000,"yukta":1000}
dic1

{'neha': 2000, 'yukta': 1000}

In [2]:
dic1["Appu"]=122
dic1

{'neha': 2000, 'yukta': 1000, 'Appu': 122}

In [3]:
dic1["neha"]

2000

In [4]:
for i in dic1:
    print(i)

neha
yukta
Appu

In [91]:
for i in dic1.values():
    print(i)

2000
1000
122

In [5]:
for i,j in dic1.items():
    print(i,j)

neha 2000
yukta 1000
Appu 122

In [7]:
del(dic1["neha"])
dic1

{'yukta': 1000, 'Appu': 122}

In [7]:
dic2={"neha":{"age":20,"income":15},"yukta":{"age":21,"income":20},"appu":{"age":22,"income":25}}
dic2

{'neha': {'age': 20, 'income': 15},
 'yukta': {'age': 21, 'income': 20},
 'appu': {'age': 22, 'income': 25}}

In [8]:
dic2["kapil"]={"age":22,"income":30}   #add a new element in nested dictionary
dic2

{'neha': {'age': 20, 'income': 15},
 'yukta': {'age': 21, 'income': 20},
 'appu': {'age': 22, 'income': 25},
 'kapil': {'age': 22, 'income': 30}}

In [9]:
del(dic2["appu"]["income"])
dic2

{'neha': {'age': 20, 'income': 15},
 'yukta': {'age': 21, 'income': 20},
 'appu': {'age': 22},
 'kapil': {'age': 22, 'income': 30}}

In [11]:
l1=[1,2,3,4]
l2=['a','b','c','d']
l=[[i,j] for i in l1 for j in l2 if l1.index(i)==l2.index(j)]
print(l)

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [14]:
l3=[]
for i in l1:
    for j in l2:
        if l1.index(i)==l2.index(j):
         l3.append([i,j])
print(l3)

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [18]:
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [2]:
li=[1,2,3,4,5,6]
list(map(lambda x:x**3,li))

[1, 8, 27, 64, 125, 216]

In [3]:
for i in map(lambda x:x**3,li):
  print(i)

1
8
27
64
125
216

In [6]:
[i**3 for i in li]

[1, 8, 27, 64, 125, 216]

# FILTER
### it take 2 arugements one is the function name and another is the iterable object

In [10]:
cities=['pune','chennai','delhi','sikar','goa']
#que: cities which have length greater than 3
list(filter(lambda x:len(x)>3,cities))

['pune', 'chennai', 'delhi', 'sikar']

# function

### def function_name()
        '''docstring'''
        print("anything")

In [11]:
def hello():
    print("hi")
hello()

hi

In [12]:
hi=hello()
print(hi)

hi
None

In [13]:
type(hi)   #hello() is not a return type function

NoneType

In [14]:
def hello():
    return "hi"
hi=hello()
print(hi)

hi

In [17]:
def sqr(num):
    return num**2
sqr(3)

9

In [18]:
def sqr(num=2):
    return num**2
sqr()

4

In [19]:
def sqr(num=2):
    return num**2
sqr(4)

16

In [ ]:
celcius=[20,30,40,50,60]
using list, for loop and function convert into farhenhiet

#que:2 calculate the area of cylinder

height=[1,2,3,4,5]
width=[5,6,7,8,9]

In [3]:
li1=[20,30,40,50,60]
for i in li1:
    t=(i*9/5)+32
    print(t)

68.0
86.0
104.0
122.0
140.0

In [10]:
li2=[]
def convert(num):
    for i in num:
      r=(i*9/5)+32
      li2.append(r)
convert(li1)   
print(li2)

[68.0, 86.0, 104.0, 122.0, 140.0]

In [11]:
[i*9/5+32 for i in li1]

[68.0, 86.0, 104.0, 122.0, 140.0]

In [1]:
height=[1,2,3,4,5]
width=[5,6,7,8,9]
#if height.index(i)==width.index(j)
[2*3.14*i*j+2*3.14*j*j  for i in height for j in width if height.index(i)==width.index(j)]

[188.4, 301.44, 439.6, 602.88, 791.28]

In [36]:
[print(10)  for i in height for j in width if i==j]

10

[None]

In [4]:
height=[1,2,3,4,5]
width=[5,6,7,8,9]
li3=[]
def area(num1,num2):
    
    for i in num1:
        for j in num2:
            if num1.index(i)==num2.index(j):
                s= 2*3.14*i*j+2*3.14*j*j
                li3.append(s)
area(height,width)
print(li3)

[188.4, 301.44, 439.6, 602.88, 791.28]

In [50]:
for i in height:
        for j in width:
            if height.index(i)==width.index(j):
                s= 2*3.14*i*j+2*3.14*j*j
                print(s)

188.4
301.44
439.6
602.88
791.28

In [13]:
a="NeHa"
count=0
for i in a:
    if i.islower():
        count=count+1
print(count)

2

In [19]:
[i.islower() for i in a ]

[False, True, False, True]

In [8]:
def word(str):
    counts = dict()
    words = str.split()

    for i in words:
        if i in counts:
            counts[i] += 1
        else:
            counts[i] = 1

    return counts

print( word('radhe krishna radhe radhe neha '))

{'radhe': 3, 'krishna': 1, 'neha': 1}

In [8]:
a="NeHa"
[i.islower() for i in a ]

[False, True, False, True]